.breadcrumb {
    background-color: #fff;
    padding-left: 0;
    font-family: "PTSans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #767676;
    text-align: left;

    a {
        color: #767676;
        padding-bottom: 1px;
        border-bottom: 1px solid;
        text-decoration: none;
    }
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.4rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.4rem;
    color: #6c757d;
    content: "/";
}
