.carousel-control-next,
.carousel-control-prev {
        width: 42%;
    opacity: 1;
}

.carousel-control-prev-icon {
    background-image: url(img/prev.png);
    width: 34px;
height: 61px;
}

.carousel-control-next-icon {
    background-image: url(img/next.png);
    width: 34px;
height: 61px;
}
