.catalog {
    display: flex;
    justify-content: space-between;

    .leftblock {
        height: 254px;
        width: 178px;
        background-color: red;
    }

    .centerblock {

        width: 780px;

        .card {
            width: 250px;
            height: 380px;
            padding: 20px;
            background-color: #dcdcdc;
            border-radius: 0;
            margin-bottom: 20px;


            &-price {
                display: flex;
                justify-content: space-between;

                img {
                    width: 28px;
                    height: 21px;
                }

                h5 {
                    color:  #444444;
                }
            }
        }
    }
}
