.pagination {
    justify-content: center;
    margin-top: 12px;
    color: #767676;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;

    .page-link {
        border: none;
        color: #767676;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        padding-left: 8px;
        padding-right: 8px;

        &:hover {
            color: #444444;
            font-size: 18px;
            background-color: #fff;
        }
    }
}

hr {
    width: 780px;
    height: 1px;
    margin-top: 67px;
}
