@import url("https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic-ext");
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf"); }
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 230px;
  background-color: #dcdcdc; }
  .header .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .row .logo {
      cursor: pointer;
      width: 273px;
      height: 100px; }
    .header .row .phones {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .header .row .phones p {
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 1px;
        cursor: pointer; }
      .header .row .phones .feedback {
        width: 171px;
        height: 22px;
        color: #767676;
        font-family: "PT Sans";
        font-size: 24px;
        font-weight: 700;
        line-height: 0;
        letter-spacing: 0.6px;
        border-bottom: 1px dashed;
        background-color: #dcdcdc;
        padding: 0; }
        .header .row .phones .feedback:focus {
          -webkit-box-shadow: none;
                  box-shadow: none; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0; }

.navbar {
  min-height: 80px;
  background-color: #777777; }
  .navbar-nav {
    margin: 0 auto;
    font-family: "PT Sans";
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.75px; }
  .navbar .nav-item {
    padding-right: 1.2rem;
    padding-left: 1.2rem; }
  .navbar .nav-link {
    padding-bottom: 3px;
    color: #ffffff;
    border-bottom: 2px solid #777777; }
    .navbar .nav-link:active, .navbar .nav-link:hover {
      letter-spacing: 0.75px;
      border-bottom: 2px solid #ffffff; }
  .navbar-toggler:focus {
    outline: none; }
  .navbar-toggler-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 32px;
    color: #ffffff; }

.carousel-control-next,
.carousel-control-prev {
  width: 42%;
  opacity: 1; }

.carousel-control-prev-icon {
  background-image: url(img/prev.png);
  width: 34px;
  height: 61px; }

.carousel-control-next-icon {
  background-image: url(img/next.png);
  width: 34px;
  height: 61px; }

.breadcrumb {
  background-color: #fff;
  padding-left: 0;
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #767676;
  text-align: left; }
  .breadcrumb a {
    color: #767676;
    padding-bottom: 1px;
    border-bottom: 1px solid;
    text-decoration: none; }

.breadcrumb-item + .breadcrumb-item {
  padding-left: .4rem; }

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .4rem;
  color: #6c757d;
  content: "/"; }

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .catalog .leftblock {
    height: 254px;
    width: 178px; }
    .catalog .leftblock a {
      text-decoration: none; }
    .catalog .leftblock .side_menu {
      padding-left: 0;
      list-style-type: none; }
      .catalog .leftblock .side_menu li {
        font-family: "PT Sans";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.45px;
        line-height: 30px; }
        .catalog .leftblock .side_menu li:hover > .submenu {
          display: block; }
        .catalog .leftblock .side_menu li a {
          color: #767676; }
    .catalog .leftblock .submenu {
      display: none;
      padding-left: 17px;
      list-style-type: none;
      text-indent: -1em; }
      .catalog .leftblock .submenu li {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 22px; }
        .catalog .leftblock .submenu li:before {
          content: '\2022';
          margin-left: 9px;
          margin-right: 3px; }
    .catalog .leftblock img {
      margin-top: 110px;
      margin-left: 43px; }
    .catalog .leftblock h1 {
      color: #444444;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      margin-left: 10px;
      margin-top: 6px; }
  .catalog .centerblock {
    width: 780px; }
    .catalog .centerblock .card {
      width: 250px;
      height: 380px;
      padding: 20px;
      background-color: #dcdcdc;
      border-radius: 0;
      margin-bottom: 20px; }
      .catalog .centerblock .card-price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .catalog .centerblock .card-price img {
          width: 28px;
          height: 21px; }
        .catalog .centerblock .card-price h5 {
          color: #444444; }

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12px;
  color: #767676;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center; }
  .pagination .page-link {
    border: none;
    color: #767676;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px; }
    .pagination .page-link:hover {
      color: #444444;
      font-size: 18px;
      background-color: #fff; }

hr {
  width: 780px;
  height: 1px;
  margin-top: 67px; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .about .left {
    width: 371px;
    height: 168px; }
  .about .right {
    width: 368px;
    height: 212px; }

.footer {
  height: 220px;
  margin-top: 200px;
  padding-top: 50px;
  color: #ffffff;
  background-color: #777777; }
  .footer a {
    color: #ffffff;
    text-decoration: none; }
  .footer .copy p {
    margin-bottom: 0; }
  .footer .nav .nav-list {
    list-style-type: none; }
    .footer .nav .nav-list li {
      text-decoration: underline; }
  .footer .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .footer .logo img {
      width: 36px;
      height: 38px;
      margin-right: 9px; }
    .footer .logo span {
      text-decoration: underline; }

button.close {
  padding: 1px 7px 2px;
  border: 0; }

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 466px;
  height: 578px;
  border-radius: 0; }
  .modal-content .modal-header {
    border-bottom: none; }
    .modal-content .modal-header .modal-title {
      text-transform: uppercase;
      color: #535353;
      font-size: 24px;
      font-weight: 700;
      text-align: left; }
  .modal-content form {
    width: 339px; }
    .modal-content form .form-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .modal-content form .form-group sup {
        font-size: 14px;
        top: -0.2em;
        left: .2em; }
      .modal-content form .form-group .form-control {
        border-radius: 0; }
      .modal-content form .form-group textarea {
        height: 140px; }
    .modal-content form .btn {
      width: 128px;
      height: 42px;
      margin-left: 32%;
      color: #ffffff;
      font-family: "PT Sans";
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #777777; }

body {
  font-family: 'PT Sans', sans-serif;
  color: #767676;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left; }

.container {
  width: 1000px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px; }

.row {
  margin: 0; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0px;
  padding-left: 0px; }
